/* 
O padrão do CSS é:

seletor {
    propriedade: valor 
} 

Para classes, usamos: "."

.nomeClasse {
    propriedade: valor
}

Para IDs, usamos: "#"

#nomeId {
    propriedade: valor
}


Podemos usar mais de um elemento por vez: .title, .subtitle{...}


Confira a listadas principais pseudo-classes: 
1) :first-child–use para selecionar a primeira ocorrência do elemento. 
2) :last-child–use para selecionar a última ocorrência do elemento. 
3) :hover–use para estilizar o elemento quando passarmos o mouse por cima. 
4):focus–use para estilizar um elemento quando o foco estiver nele. 
5):checked–use para estilizar inputsdo tipo checkbox e radio, quando estes estiverem marcados. 
6) :required–use para estilizar inputsque sejam obrigatórios. 
7) :optional–use para estilizar inputsque sejam opcionais.


*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header, body > footer {
    background-color: #2F3640;
    padding: 16px 0;
    color: #F5F6FA;
}

body, #sports { 
    background-color: #bbb;
}

#economy { 
    background-color: #cac9c9;
}

#glamour { 
    background-color: #ebeaea;
}

#comedy {
    background-color: #f7f7f7
}


header .container, footer p {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    margin-left: 16px;
    font-weight: bold;
}

header li a {
    color: #F5F6FA;
    text-decoration: none;
}

header li a:hover {
    text-decoration: underline;
}

.container, footer p {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /* height: 180px; */
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2, article .articles {
    margin-bottom: 16px;
}

article .articles h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blueviolet;
    color: #FFFFFF;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    margin-top: 8px;
    font-weight: bold;
}

.articles article a:hover {
    background-color: #FFFFFF;
    color: blueviolet;
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

h1 {
    font-size: 48px;
}

p, header li a, footer {
    font-size: 18px;
}

footer p {
    justify-content: center;
}