* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

body {
    background-color: #770B7B;
    color: #FFF;
    padding-top: 80px;
}

span {
    font-size: 3rem;
}

h2 {
    font-size: 4rem;
}

img#validae {
    width: 240px;
}

#cabecalho {
    background-color: #770B7B;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
}

.navbar-nav .nav-link.active,
.nav-link {
    color: #FFF;
    text-align: center;
}

.navbar-nav .nav-link.active,
button {
    background-color: #FFE7FF;
    color: #000;
}

section {
    padding-top: 80px;
}

#inicio .main-validae {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

#inicio .text-container {
    flex: 1;
    margin: 20px;
}

#inicio .text-container span {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
}

#inicio img {
    width: 50%;
    max-width: 400px;
    height: auto;
    margin: 20px;
}

.btn-link {
    display: inline-block;
    width: 50%;
    height: 64px;
    line-height: 64px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #FFE7FF;
    background-color: #E84C5D;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.btn-link:hover {
    background-color: #BA196F;
    color: #FFF;
}

#problemas {
    padding: 25px;
}

.card-header,
.card-title,
.card-text {
    text-align: center;
}

.card {
    height: 100%;
    margin-bottom: 30px;
    background-color: #E84C5D;
    color: #FFE7FF;
    border: none;
}

.card-img {
    max-height: 200px;
    overflow: hidden;
}

.card-picture {
    width: 100%;
    object-fit: cover;
}

.carousel,
.carousel-item {
    background-color: #770B7B;
}

.carousel-caption h2 {
    background-color: #FFE7FF;
    color: #BA196F;
}

#quem-somos {
    margin-bottom: 50px;
}

footer,
footer .container,
footer p,
footer .social-links-div,
footer h2,
footer .social-links,
footer .social-links a,
footer .container a {
    bottom: 0;
    position: static;
    width: 100%;
    background-color: #EEEFFF;
    color: #770B7B;
    padding: 16px 0;
}

.img-social-links {
    background-color: #EEEFFF;
    color: #000;
}

footer p,
.social-links-div {
    text-align: center;
}

.social-links img {
    height: 32px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-12 {
    width: 100%;
}

.col-sm-6 {
    width: 50%;
}

.col-lg-4 {
    width: 33.333333%;
}

@media (max-width: 992px) {
    .col-lg-4 {
        width: 50%;
    }

    #inicio .main-validae {
        flex-direction: row; 
    }

    #inicio img {
        width: 50%;
    }

    #inicio .text-container {
        width: 50%;
    }

    span {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .col-sm-6 {
        width: 100%; 
    }

    .btn-link {
        width: 90%;
        font-size: 14px;
    }

    span {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    #inicio .main-validae {
        flex-direction: column; 
    }

    #inicio img {
        width: 90%;
        margin-top: 20px;
    }

    #inicio .text-container {
        width: 100%;
    }
}
