* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

body {
    background-color: #770B7B;
    color: #FFF;
}

span {
    font-size: 3rem;
}

h2 {
    font-size: 4rem
}

img#validae {
    width: 240px;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1030;
}

#cabecalho {
    background-color: #770B7B;
}

.navbar-nav .nav-link.active,
.nav-link {
    color: #FFF;
    text-align: center;
}

.navbar-nav .nav-link.active,
button {
    background-color: #FFE7FF;
    color: #000;
}

section {
    height: 100vh;
    padding-top: 80px;
}

#inicio .main-validae {
    display: flex;
    align-items: center;
}

#inicio .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

#inicio .text-container span {
    display: block;
    text-align: center;
    width: 85%;
    margin-bottom: 25px;
}

#inicio img {
    width: 75%;
    height: auto;
}

.btn-link {
    display: inline-block;
    width: 50%;
    height: 64px;
    line-height: 64px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #FFE7FF;
    background-color: #E84C5D;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.btn-link:hover {
    background-color: #BA196F;
    color: #FFF;
}

#problemas {
    padding: 25px;
    margin-bottom: 100px;
}

.card-header, .card-title, .card-text {
    text-align: center;
}

.card {
    max-width: 360px;
    height: 500px;
    position: relative;
    z-index: 0;
}

.card-img {
    max-height: 200px;
    overflow: hidden;
}

.card-picture {
    width: 100%;
    object-fit: cover;
}

.card-structure-color {
    background-color: #E84C5D;
    color: #FFE7FF;
}

.carousel, .carousel-item {
    background-color: #770B7B;
}

.carousel-caption h2 {
    background-color: #FFE7FF;
    color: #BA196F;
}

footer, footer .container, footer p, footer .social-links-div, footer h2, footer .social-links, footer .social-links a, footer .container a {
    bottom: 0;
    position: static;
    width: 100%;
    background-color: #EEEFFF;
    color: #770B7B;
    padding: 16px 0;
}

.img-social-links {
    background-color: #EEEFFF;
    color: #000;
}

footer p,
.social-links-div {
    text-align: center;
}

.social-links img {
    height: 32px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}