* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.input {
    border: 3px solid var(--corPrincipal);
    padding: 8px;
    margin: 16px 0;
    text-align: center;
}

.input:focus {
    border: 3px solid var(--corBtnPrimary);
}

:root {
    --corPrincipal: #7F8FA6;
    --corSecundaria: #F5F6FA;
    --corBtnPrimary: #40739E;
    --corBtnSecondary: #DCDDE1;
}