html {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background-color: #C8D6E5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section {
    padding: 48px 0;
}

form {
    padding: 24px 0;
    text-align: center;
    max-width: 360px;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input {
    width: 100%;
    display: block;
    padding: 8px;   
}

form button {
    max-width: 120px;
    padding: 8px;
    background-color: #009432;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFF;
}