@fontePrincipal: Roboto, sans-serif;
@fonteDoTitulo: Lobster, cursive;
@corDoTexto: #FFF;
@corDeFundo: #EB3B5A;

body {
    background-color: @corDeFundo;
    font-family: @fontePrincipal;
    color: @corDoTexto;
}

h1 {
    font-family: @fonteDoTitulo;
    font-size: 3em;
}