@use './config/reset';
@use './config/variaveis';
@use 'sass:math';

@function pixelParaEm ($alvoEmPixel, $contextoEmPixel: 16px) {
    @return math.div($alvoEmPixel, $contextoEmPixel) * 1em;
}

@mixin container() {
    max-width: pixelParaEm(1024px);
    width: 100%;
    margin: 0 auto;
}

@mixin li() {
    list-style: none;
}

body {
    background-color: variaveis.$corDeFundo;
}

header {
    background-color: variaveis.$corDoHeader;
    position: sticky;
    top: 0;
    left: 0;

    .container {
        @include container();
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: #{pixelParaEm(16px)} 0;

        nav {
            .menu {
                display: flex;
            }

            .menu li {
                font-weight: bold;
                margin-left: pixelParaEm(24px);
                @include li();
            }

            .menu li a {
                color: variaveis.$branco;
                text-decoration: none;
            }
        }
    }
}

section {
    padding: #{pixelParaEm(56px)} 0;

    .container {
        @include container();

        .products {
            margin-top: pixelParaEm(40px);
            display: grid;
            grid-template-columns: repeat(3, 32.66%);
            column-gap: 1%;
            row-gap: 4%;
            width: 100%;

            .product-item {
                @include li();

                img {
                    width: 100%;
                    border-radius: pixelParaEm(16px);
                }

                .product-button {
                    display: block;
                    background-color: variaveis.$corDoBtn;
                    color: variaveis.$branco;
                    text-align: center;
                    padding: pixelParaEm(8px) 0;
                    border-radius: pixelParaEm(8px);
                    margin-top: pixelParaEm(8px);
                    text-decoration: none;

                    &:hover {
                        background-color: variaveis.$corDoBtnHover;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    section .container, header .container {
        max-width: 80%;
    }

    section .container .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}

@media screen and (max-width: 767px) {
    section .container .products {
        display: block;
    }

    section .container .products .product-item  {
        margin-bottom: 32px;
    }
}