/* 

Nos arquivos base estilizamos as regras mais básicas da página. É essencialmente um reset, onde podemos remover as margens, espaçamentos e definir outras propriedades que seguirão um padrão na página.

*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}