/* 

Um módulo é um componente estilizado. Geralmente estão localizados dentro de um layout. O módulo deve ser independente e ter a mesma aparência em qualquer lugar que seja inserido. Por exemplo, um card de produto, deve possuir o mesmo estilo dentro de uma listagem de produtos ou quando utilizado dentro de uma página de post. Um módulo pode conter outros módulos, como no caso de um card de produto, podemos ter um módulo de detalhes do produto

*/

.title {
    font-size: 48px;
}

.mensagem {
    padding: 8px;
    border: 1px solid #333;
    border-radius: 8px;
}

.mensagem-titulo {
    font-size: 18px;
}

.mensagem-conteudo {
    font-size: 14px;
}

/* 

No SMACSS, um estado é utilizado para sobre escrever um estilo. Por convenção utilizamos o prefixo “is-” no nome da classe.

*/

.mensagem-is-error {
    border-color: red;
    background-color: rgb(255,226,226);
    color: red;
}

.accordion {
    border: 1px solid #000;
}

.accordion-header {
    padding: 8px;
    cursor: pointer;
}

.accordion-content {
    padding: 8px;
    border-top: 1px solid #EEE;
    display: none;
}

.accordion.is-open .accordion-content {
    display: block;
}